DISCORD_CLIENT_ID=422242224222442424
DISCORD_CLIENT_SECRET="rrceetetsreeersrceereccerrcscret"
DISCORD_BOT_TOKEN="etotkeoeonoetnkeoeteeketoettkknnenkknooonoknnektoeenneokketnnonoeektet"
VITE_DISCORD_SUPPORT_SERVER="https://discord.gg/D78RsGfQjq"
VITE_GITHUB_URL="https://github.com/hyperbeam/discord-bot"
HB_API_KEY="kykeyeykykekeyykeyyyekekyyyyeyyykekykeyekyk"
HB_API_ENV="testing"
VITE_CLIENT_ID=444224444244222444
VITE_CLIENT_PORT=4000
VITE_CLIENT_BASE_URL="http://localhost:4000"
VITE_CLIENT_SOCKET_URL="/socket.io/"
VITE_API_SERVER_PORT=3000
VITE_API_SERVER_BASE_URL="http://localhost:3000"
DATABASE_URL="file:../../database.db"