@use "reset";
@use "variables";

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	background-color: variables.$color-background;
	color: #fff;
	font: 1rem "Lato", sans-serif;
	overflow-x: hidden;
}

button {
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	background-color: variables.$color-primary;
	color: #000;
	font-weight: 700;
}
