@use "reset";
@use "variables";

body {
	background-color: variables.$color-background;
	color: #fff;
	font: 1rem "Lato", sans-serif;
}

button {
	border-radius: 0.25rem;
	background-color: variables.$color-primary;
	padding: 0.5rem 0.75rem;
	color: #000;
	font-weight: 700;
}
